/* ==========================================================
   MENU LATERAL
========================================================== */

.sidebar{

    position: fixed;
    top: 0;
    left: 0;

    width: 280px;
    min-width: 280px;
    height: 100vh;

    background: linear-gradient(180deg,#0D47A1,#1565C0);

    color: #fff;

    display: flex;
    flex-direction: column;

    box-shadow: 4px 0 15px rgba(0,0,0,.10);

    overflow: hidden;

    z-index: 1000;

    transition: .3s ease;

}
